// .resume {
//   height: 100vh;
//   background-color: aqua;
//   overflow: hidden;
// }
// Page {
//   height: 100%;
// }

// .text {
//   overflow: hidden;
// }
// .react-pdf__Page__textContent textLayer {
//   display: none;
//   background-color: antiquewhite;
// }
.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}
